/* linkterms related classes */
.parser
	{
	cursor:help;
	border-bottom: 1px dotted #000;
	color: #2F5376;
	}
/* tooltip2 */
#dhtmltooltip
	{
	position: absolute;
	left: -300px;
	width: 150px;
	border: 1px solid black;
	padding: 2px;
	background-color: lightyellow;
	visibility: hidden;
	z-index: 100;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
	}
#dhtmlpointer
	{
	position:absolute;
	left: -300px;
	z-index: 101;
	visibility: hidden;
	}
/*shadow tooltip*/
#dhtmlgoodies_tooltip
	{
	background-color:#EEE;
	border:1px solid #000;
	position:absolute;
	display:none;
	z-index:20000;
	padding:2px;
	font-size:0.9em;
	-moz-border-radius:6px;	/* Rounded edges in Firefox */
	font-family: "Trebuchet MS", "Lucida Sans Unicode", Arial, sans-serif;
	}
#dhtmlgoodies_tooltipShadow
	{
	position:absolute;
	background-color:#555;
	display:none;
	z-index:10000;
	opacity:0.7;
	filter:alpha(opacity=70);
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;
	-moz-border-radius:6px;	/* Rounded edges in Firefox */
	}
/* balloon */
#bubble_tooltip
	{
	width:147px;
	position:absolute;
	display:none;
	}
#bubble_tooltip .bubble_top
	{
	background-image: url('images/bubble_top.gif');
	background-repeat:no-repeat;
	height:16px;	
	}
#bubble_tooltip .bubble_middle
	{
	background-image: url('images/bubble_middle.gif');
	background-repeat:repeat-y;	
	background-position:bottom left;
	padding-left:7px;
	padding-right:7px;
	}
#bubble_tooltip .bubble_middle span
	{
	position:relative;
	top:-8px;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	font-size:11px;
	}
#bubble_tooltip .bubble_bottom
	{
	background-image: url('images/bubble_bottom.gif');
	background-repeat:no-repeat;
	background-repeat:no-repeat;	
	height:44px;
	position:relative;
	top:-6px;
	}